:root {

  --color-primary: #2D9CDB;
  --color-primary-darker: #2F80ED;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 1rem;

  background: var(--color-primary-darker);
}

.container {
  display: flex;
}

.nav {
  height: 100vh;
  display: flex;
  padding: 1rem;

  background: var(--color-primary);
}

.main {
  padding: .5rem;
}

.tour {
  display: flex;

  background: black;
  color: white;
  border-radius: .8rem;
}

.tour__preview {

}

.tour__image {
  width: 100%;
}

.tour__informations {
  padding: .5rem;
}

.tour__title {
  font-size: 2.6rem;
  font-weight: bold;
}

.tour__description {
  font-size: 1.6rem;
}

.tour__badges {
  display: flex;
  justify-content: space-around;

  font-size: 1.2rem;
}

.tour__language {

}

.tour__duration {

}

.tour__price {

}

.tour__details {

}