:root {
  --color-blue: #2D9CDB;
  --color-black-lighter: #e0e0e0;
  --color-black-light: #4f4f4f;
  --color-black: #333;
  --color-blue-darker: #2F80ED;
  --color-white: #f2f2f2;
  --color-orange: #f2994a;
  --color-yellow: #be9e3b;
  --color-green: #219653;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", 'Times New Roman', Times, serif;
}

.header {
  height: 7rem;
  display: flex;
  align-items: center;
  padding: 2rem;

  background: var(--color-blue-darker);
}

.logo {
  width: 100px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav {
  height: 100%;
  display: flex;
  position: sticky;
  top: 0;
}

.nav__menu {
  transition: all .2s;
  transform: translateX(-200px);

  background: var(--color-blue);
}

.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main {
  width: 100%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.menu__expand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  z-index: 1;
  
  background: var(--color-black);
  cursor: pointer;
}

.menu__expand a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1rem;
}

.menu__expand img {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.menu__expand:hover {
  background: var(--color-black-light);
}

.expand__button {
  transition: .2s;
}

.list__item {
  display: flex;
  align-items: center;
  padding: 1rem;

  transition: .2s;
  cursor: pointer;
}

.list__item:hover {
  background: var(--color-blue-darker);
}

.list__item img {
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
}

.list__item a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.8rem;
}

.tour {
  max-width: 20rem;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  padding: .8rem;
  margin: .5rem;

  color: var(--color-black);
  border: 1px solid var(--color-black-lighter);
  border-radius: .8rem;
}

.tour__preview {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour__image {
  max-width: 100%;
  height: 100%;

  border: 1px solid var(--color-black-lighter);
  border-radius: .8rem;
}

.tour__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour__informations {
}

.tour__title {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
}

.tour__description {
  font-size: 1.4rem;
  text-align: justify;
}

.tour__details {
  display: flex;
  justify-content: space-around;
}

.tour__badge {
  font-size: 1.2rem;
  border-radius: .8rem;
}

.tour__badge-language {
  padding: .5rem;

  background: var(--color-blue-darker);
}

.tour__badge-duration {
  padding: .5rem;

  background: var(--color-orange);
}

.tour__badge-price {
  padding: .5rem;

  background: var(--color-yellow);
}

.tour__badge-more {
  padding: .5rem;

  background: var(--color-green);
  cursor: pointer;
}

.invisible {
  transform: translateX(0px);
}

.flipImage {
  transform: rotate(360deg);
}
