:root {
  --color-blue: #2D9CDB;
  --color-blue-darker: #2F80ED;
  --color-black: #333;
  --color-white: #f2f2f2;
  --color-orange: #f2994a;
  --color-yellow: #be9e3b;
  --color-green: #219653;

  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 1rem;

  background: var(--color-blue-darker);
}

.container {
  display: flex;
}

.nav {
  height: 100vh;
  display: flex;
  padding: 1rem;

  background: var(--color-blue);
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.tour {
  max-width: 55rem;
  max-height: 17rem;
  display: flex;
  padding: .8rem;
  margin: .5rem;

  background: var(--color-black);
  color: white;
  border-radius: .8rem;
}

.tour__preview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour__image {
  max-width: 100%;
  height: 100%;

  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;
}

.tour__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tour__informations {
  padding-left: .8rem;
}

.tour__title {
  font-size: 2.6rem;
  font-weight: bold;
}

.tour__description {
  font-size: 1.6rem;
  text-align: justify;
}

.tour__details {
  display: flex;
  justify-content: space-around;
}

.tour__badge {
  font-size: 1.2rem;
  border-radius: .8rem;
}

.tour__badge-language {
  padding: .5rem;

  background: var(--color-blue-darker);
}

.tour__badge-duration {
  padding: .5rem;

  background: var(--color-orange);
}

.tour__badge-price {
  padding: .5rem;

  background: var(--color-yellow);
}

.tour__badge-more {
  padding: .5rem;

  background: var(--color-green);
}